body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1112px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:20px;
  width:375px;
  height:50px;
  display:flex;
}
#u8799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u8800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:848px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:69px;
  width:375px;
  height:848px;
  display:flex;
}
#u8801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:69px;
  width:375px;
  height:686px;
  display:flex;
}
#u8802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:36px;
  width:10px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:36px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:494px;
  width:70px;
  height:16px;
  display:flex;
}
#u8805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:425px;
  width:28px;
  height:16px;
  display:flex;
}
#u8806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:425px;
  width:71px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:425px;
  width:71px;
  height:16px;
  display:flex;
}
#u8808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:459px;
  width:28px;
  height:16px;
  display:flex;
}
#u8809 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:459px;
  width:71px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:459px;
  width:71px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:491px;
  width:28px;
  height:16px;
  display:flex;
}
#u8812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:491px;
  width:71px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
  background:inherit;
  background-color:rgba(21, 115, 202, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:820px;
  width:339px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8815 label {
  left:0px;
  width:100%;
}
#u8815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:12px;
  height:12px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:774px;
  width:344px;
  height:30px;
  display:flex;
}
#u8815 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8815_img.selected {
}
#u8815.selected {
}
#u8815_img.disabled {
}
#u8815.disabled {
}
#u8815_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:328px;
  word-wrap:break-word;
  text-transform:none;
}
#u8815_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:591px;
  width:126px;
  height:16px;
  display:flex;
}
#u8816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8817 label {
  left:0px;
  width:100%;
}
#u8817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:624px;
  width:56px;
  height:15px;
  display:flex;
}
#u8817 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8817_img.selected {
}
#u8817.selected {
}
#u8817_img.disabled {
}
#u8817.disabled {
}
#u8817_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8817_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8818 label {
  left:0px;
  width:100%;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:624px;
  width:56px;
  height:15px;
  display:flex;
}
#u8818 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8818_img.selected {
}
#u8818.selected {
}
#u8818_img.disabled {
}
#u8818.disabled {
}
#u8818_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8818_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8819 label {
  left:0px;
  width:100%;
}
#u8819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:624px;
  width:56px;
  height:15px;
  display:flex;
}
#u8819 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8819_img.selected {
}
#u8819.selected {
}
#u8819_img.disabled {
}
#u8819.disabled {
}
#u8819_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8819_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8820 label {
  left:0px;
  width:100%;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:624px;
  width:56px;
  height:15px;
  display:flex;
}
#u8820 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8820_img.selected {
}
#u8820.selected {
}
#u8820_img.disabled {
}
#u8820.disabled {
}
#u8820_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8820_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8821 label {
  left:0px;
  width:100%;
}
#u8821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:624px;
  width:56px;
  height:15px;
  display:flex;
}
#u8821 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8821_img.selected {
}
#u8821.selected {
}
#u8821_img.disabled {
}
#u8821.disabled {
}
#u8821_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8821_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8822 label {
  left:0px;
  width:100%;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:659px;
  width:56px;
  height:15px;
  display:flex;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8822_img.selected {
}
#u8822.selected {
}
#u8822_img.disabled {
}
#u8822.disabled {
}
#u8822_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8822_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8823 label {
  left:0px;
  width:100%;
}
#u8823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:659px;
  width:56px;
  height:15px;
  display:flex;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8823_img.selected {
}
#u8823.selected {
}
#u8823_img.disabled {
}
#u8823.disabled {
}
#u8823_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8823_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8824 label {
  left:0px;
  width:100%;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:12px;
  height:12px;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:652px;
  width:49px;
  height:30px;
  display:flex;
}
#u8824 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8824_img.selected {
}
#u8824.selected {
}
#u8824_img.disabled {
}
#u8824.disabled {
}
#u8824_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:33px;
  word-wrap:break-word;
  text-transform:none;
}
#u8824_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8825 label {
  left:0px;
  width:100%;
}
#u8825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:12px;
  height:12px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:652px;
  width:50px;
  height:30px;
  display:flex;
}
#u8825 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8825_img.selected {
}
#u8825.selected {
}
#u8825_img.disabled {
}
#u8825.disabled {
}
#u8825_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:34px;
  word-wrap:break-word;
  text-transform:none;
}
#u8825_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8826 label {
  left:0px;
  width:100%;
}
#u8826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:12px;
  height:12px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:652px;
  width:61px;
  height:30px;
  display:flex;
}
#u8826 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8826_img.selected {
}
#u8826.selected {
}
#u8826_img.disabled {
}
#u8826.disabled {
}
#u8826_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:45px;
  word-wrap:break-word;
  text-transform:none;
}
#u8826_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8827 label {
  left:0px;
  width:100%;
}
#u8827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:695px;
  width:56px;
  height:15px;
  display:flex;
}
#u8827 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8827_img.selected {
}
#u8827.selected {
}
#u8827_img.disabled {
}
#u8827.disabled {
}
#u8827_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8827_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8828 label {
  left:0px;
  width:100%;
}
#u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:12px;
  height:12px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:688px;
  width:47px;
  height:30px;
  display:flex;
}
#u8828 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8828_img.selected {
}
#u8828.selected {
}
#u8828_img.disabled {
}
#u8828.disabled {
}
#u8828_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:31px;
  word-wrap:break-word;
  text-transform:none;
}
#u8828_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8829 label {
  left:0px;
  width:100%;
}
#u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:696px;
  width:56px;
  height:15px;
  display:flex;
}
#u8829 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8829_img.selected {
}
#u8829.selected {
}
#u8829_img.disabled {
}
#u8829.disabled {
}
#u8829_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8829_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8830 label {
  left:0px;
  width:100%;
}
#u8830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:696px;
  width:56px;
  height:15px;
  display:flex;
}
#u8830 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8830_img.selected {
}
#u8830.selected {
}
#u8830_img.disabled {
}
#u8830.disabled {
}
#u8830_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8830_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8831 label {
  left:0px;
  width:100%;
}
#u8831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:696px;
  width:56px;
  height:15px;
  display:flex;
}
#u8831 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8831_img.selected {
}
#u8831.selected {
}
#u8831_img.disabled {
}
#u8831.disabled {
}
#u8831_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8831_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8832 label {
  left:0px;
  width:100%;
}
#u8832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:725px;
  width:56px;
  height:15px;
  display:flex;
}
#u8832 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8832_img.selected {
}
#u8832.selected {
}
#u8832_img.disabled {
}
#u8832.disabled {
}
#u8832_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8832_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8833 label {
  left:0px;
  width:100%;
}
#u8833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:725px;
  width:56px;
  height:15px;
  display:flex;
}
#u8833 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u8833_img.selected {
}
#u8833.selected {
}
#u8833_img.disabled {
}
#u8833.disabled {
}
#u8833_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:40px;
  word-wrap:break-word;
  text-transform:none;
}
#u8833_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:120px;
  width:56px;
  height:16px;
  display:flex;
}
#u8834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:120px;
  width:127px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:77px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u8836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:153px;
  width:28px;
  height:16px;
  display:flex;
}
#u8837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:153px;
  width:127px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:189px;
  width:56px;
  height:16px;
  display:flex;
}
#u8839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:189px;
  width:160px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:221px;
  width:56px;
  height:16px;
  display:flex;
}
#u8841 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:221px;
  width:127px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:286px;
  width:56px;
  height:16px;
  display:flex;
}
#u8843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:286px;
  width:158px;
  height:32px;
  display:flex;
}
#u8844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:251px;
  width:42px;
  height:16px;
  display:flex;
}
#u8845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:251px;
  width:127px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:391px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u8847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:326px;
  width:56px;
  height:16px;
  display:flex;
}
#u8848 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8848_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:326px;
  width:70px;
  height:16px;
  display:flex;
}
#u8849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8849_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:362px;
  width:42px;
  height:16px;
  display:flex;
}
#u8850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:362px;
  width:24px;
  height:16px;
  display:flex;
}
#u8851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:50px;
  display:flex;
}
#u8852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u8853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:743px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:743px;
  display:flex;
}
#u8854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:36px;
  width:10px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:36px;
  width:48px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u8856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:120px;
  width:1px;
  height:16px;
  display:flex;
}
#u8857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:261px;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:187px;
  width:262px;
  height:261px;
  display:flex;
}
#u8858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:526px;
  width:62px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8859 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:561px;
  width:62px;
  height:16px;
  display:flex;
  text-align:right;
}
#u8860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8861_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:520px;
  width:71px;
  height:22px;
  display:flex;
}
#u8861 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8861_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8861.disabled {
}
.u8861_input_option {
}
#u8862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8862_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u8862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:552px;
  width:182px;
  height:25px;
  display:flex;
  text-align:right;
}
#u8862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8862_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u8862.disabled {
}
